<!doctype html>
<html>
    <head>
        <title>{{title}}</title>

        <nav>
       
        <a href="/index"> home</a> |
        <a href="/newpost"> new post </a>|
        <a href="/blog"> all posts </a>
        
          
            <div style = "clear: right; float: right; text-align: right;">
                                
                    
                    <a href='/login'>login</a> |
                    <a href='/logout'>logout</a>
                    
            </div> 
        </nav>
    

    </head>
    
<body>
        
        
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    

    {% block content %}
    {% endblock %}

</body>
</html>