{% extends "base.html" %}

{% block content %}

<form action="/signup" method="post">
    <h1> Signup </h1>
    <label> Username:
    <input name="username" type="text" value='{{username}}' />
    </label>
    <p class= "error">{{username_error}}</p>
    <label> Password :
    <input name="password" type="password" value="" />
    </label>
    <p class = "error">{{password_error}}</p>
    <label> Verify Password:
    <input name="verifypassword" type="Password" value=''/>
    </label>
    <p class= "error"> {{verifypassword_error}} </p>
    
              
    <input type="submit" value="Submit"/>
    
</form>


    {% endblock %}
